<% layout('layouts/boilerplate')%>

    <h1 class="display-4">Transactions</h1>
    <div class="container ml-0 pl-0">
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#filter">Filter</button>
        <div id="filter" class="collapse">
            <form action="/transactions" method="GET" class="form-border">
                <div class="form-group row">
                    <label for="accounts" class="col-sm-3 col-form-label">Accounts:</label>
                    <div class="col-sm-5">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle col-sm-10" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <% for(let account of accounts){ %>
                                    <div class="form-check dropdown-item" href="#">
                                        <input class="form-check-input" type="checkbox" id="flexCheck<%=account%>" value="<%=account%>" name="filter[accounts]" <%=(filter.accounts && filter.accounts.includes(account)) ? 'checked' : ''%>>
                                        <label class="form-check-label" for="flexCheck<%=account%>">
                                    <%=account%>
                                    </label>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="startDate" class="col-sm-3 col-form-label">Start Date:</label>
                    <div class="col-sm-5">
                        <input type="date" class="form-control" id="startDate" name="filter[startDate]" value="<%=`${helpers.parseDate(filter.startDate)}`%>">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="endDate" class="col-sm-3 col-form-label">End Date:</label>
                    <div class="col-sm-5">
                        <input type="date" class="form-control" id="endDate" name="filter[endDate]" value="<%=`${helpers.parseDate(filter.endDate)}`%>">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="categories" class="col-sm-3 col-form-label">Categories:</label>
                    <div class="col-sm-5">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle col-sm-10" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <% for(let category of categories){ %>
                                    <div class="form-check dropdown-item" href="#">
                                        <input class="form-check-input" type="checkbox" id="flexCheck<%=category%>" value="<%=category%>" name="filter[categories]" <%=(filter.categories && filter.categories.includes(category)) ? 'checked' : ''%>>
                                        <label class="form-check-label" for="flexCheck<%=category%>">
                                    <%=category%>
                                    </label>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="notes" class="col-sm-3 col-form-label">Notes:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="notes" name="filter[notes]" value="<%=filter.notes%>">
                    </div>
                </div>
                <button class="btn btn-success">Apply</button>
            </form>
        </div>
    </div><br>
    <div>
        <table class="table table-sm table-scroll table-bordered table-hover" id="transactionTable">
            <thead class="thead-dark thead-scroll">
                <tr class="d-flex">
                    <th scope="col" style="width:8%">Account</th>
                    <th scope="col" style="width:9%">Date</th>
                    <th scope="col" style="width:20%">Category</th>
                    <th scope="col" style="width:20%">Company</th>
                    <th scope="col" style="width:20%">Notes</th>
                    <th scope="col" style="width:8%">Amount</th>
                    <th scope="col" style="width:12%">ClearingDate</th>
                    <th scope="col" style="width:3%"></th>
                </tr>
            </thead>
            <tbody class="tbody-scroll">
                <% for(let t of transactions) {%>
                    <tr class="d-flex">
                        <td style="width:8%">
                            <%=t.account%>
                        </td>
                        <td style="width:9%">
                            <%=`${helpers.parseDate(t.date)}`%>
                        </td>
                        <td style="width:20%">
                            <%=t.category%>
                        </td>
                        <td style="width:20%">
                            <%=t.company%>
                        </td>
                        <td style="width:20%">
                            <%=t.notes%>
                        </td>
                        <td style="width:8%">
                            <%=`${t.amount}`%>
                        </td>
                        <td style="width:12%">
                            <% if (t.clearingDate) { %>
                                <%=`${helpers.parseDate(t.clearingDate)}`%>
                                    <% } else { %>
                                        <form onsubmit="setClearingDate(event);">
                                            <button type="submit" class="btn-link" name="transaction" value=<%=JSON.stringify(t).replace(/\s/g, "%20")%>><i class="bi bi-calendar-check"></i></button>
                                        </form>
                                        <% } %>
                        </td>
                        <td style="width:3%"><a href="/transactions/<%= t.id %>/edit"><i class="bi bi-pencil-square"></i></a></td>
                    </tr>
                    <% }%>
            </tbody>
        </table>
    </div>
    <div class="form-group row" style="max-width:600px">
        <label for="clearingDate" class="col-sm-3 col-form-label"><i class="bi bi-calendar-check" style="color:blue"></i> Clearing Date:</label>
        <div class="col-sm-5">
            <input type="date" class="form-control" id="clearingDate">
        </div>
    </div>
    <a href="/transactions/new" class="btn btn-primary">New transaction</a>

    <script>
        function setClearingDate(e) {
            e.preventDefault();
            const t = JSON.parse(unescape(e.target.transaction.value));
            const id = t._id;
            const reqBody = {
                transaction: {
                    account: t.account,
                    date: t.date,
                    category: t.category,
                    company: t.company,
                    notes: t.notes,
                    amount: t.amount,
                    clearingDate: document.getElementById("clearingDate").value
                }
            };

            var xhr = new XMLHttpRequest();
            xhr.open("POST", `/transactions/${id}?_method=PATCH`);
            xhr.setRequestHeader("Accept", "application/json");
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.send(JSON.stringify(reqBody));
            location.reload();
        }
    </script>